// Color

@lightblue: #81B3D2;
@lightgrey: #EEEEEE;
@white: #ffffff;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

@text-transform: uppercase;
@font-family: PT Sans;
@font-style: normal;
@font-weight: normal;
@outline-green: 2px solid green;
@outline-red: 2px solid red;

.page {
  min-width: 320px;
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.page-body {
  min-height: 100%;
  outline: @outline-red;
  outline-offset: -3px;
}

.page-header {
  display: flex;
  flex-direction: column;
}

    // Заголовок h1
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__list a {
  color: #ffffff;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    color: black;
  }

  @media (min-width: @desktop-width) {
    color: black;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 0 10px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 960px;
    padding: 0 20px;
  }
}

.site-list__item {
  display: flex;
  justify-content: space-around;
  height: 55px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: @white;
  background: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding: 16px auto 33px auto;
    background: #ffffff;
    box-shadow: none;
    color: #000000;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    padding: 16px auto 33px auto;
    background: #ffffff;
    box-shadow: none;
    color: #000000;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
}

.site-list__item:last-child{
  height: 98px;
  align-items: center;
  background: #ffffff;
  box-shadow: none;
}

.site-list__item:last-child {

  @media (min-width: @tablet-width) {
    order: 3;
  }


  @media (min-width: @desktop-width) {
    order: 3;
  }

}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

// Основное содержимое
.sedona-lead {
  width: auto;
}

.sedona-lead__wrapper {
  display: flex;
  flex-direction: column;
  width: 285px;
  height: auto;
  align-items: center;
  outline: #81b3d2;
  outline-offset: -5px;
}

@media (min-width: @tablet-width) {
  .sedona-lead__wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .sedona-lead__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}


