// Color

@lightblue: #81b3d2;
@lightgrey: #eeeeee;
@white: #ffffff;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

@text-transform: uppercase;
@font-family: "PT Sans", sans-serif;
@font-style: normal;
@font-weight: normal;
@outline-green: 2px solid green;
@outline-red: 2px solid red;

.page {
  min-width: 320px;
  width: auto;
  margin: auto;
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #e7e5e5;
}

.page-body {
  min-height: 100%;
  margin: 0;
  outline: @outline-red;
  outline-offset: -3px;

  @media (min-width: @desktop-width) {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 5px 0px 15px rgba(0,0,0,0.15),
    -5px 0px 15px rgba(0,0,0,0.15);
  }
}

// Заголовок h1

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Заголовки h2

.title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

// Меню

.page-header {
  display: flex;
  flex-direction: column;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.page-header__logo {
  display: block;
  width: 102px;
  height: 84px;
  margin: auto;
}

.main-nav {
  position: relative;
  width: auto;
  min-height: 55px;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 2;
  display: block;
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:active {
    background-color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 23px;
  height: 3px;
  outline: none;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#81b3d2, 30%);
  box-shadow:
    0 8px 0 0 fade(#81b3d2, 30%),
    0 16px 0 0 fade(#81b3d2, 30%);

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .user-list__item {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
  height: 40px;
  background-color: #81b3d2;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@lightblue, 30%);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
  }


  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.site-list {
  font-weight: bold;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    flex-grow: 1;
  }
}

.site-list__item:first-child {
  @media (min-width: @tablet-width) {
    margin-left: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 76px;
  }
}

.site-list__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 21px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin-right: 55px;
  }
}

.site-list__item a[href] {
  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
}

.site-list a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @lightblue;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

// Промо

// Модификатор абзацев
.reason {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.sedona-welcome--background {
  width: auto;
  height: 389px;
  margin-top: -102px;
  background-image: url("/img/header-background@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    background-image: url("/img/header-background-tablet@2x.png");
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/header-background-desktop@2x.png");
  }
}

.sedona-lead {
  margin-bottom: 0;
  padding-bottom: 20px;

  @media (min-width: @desktop-width) {
    background-color: #ffffff;
  }
}

.sedona-lead__wrapper {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.sedona-lead__description {
  @media (min-width: @tablet-width) {
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 484px;
  }
}

.sedona-lead__main--title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

@media (min-width: @tablet-width) {
  .carryover {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .carryover {
    display: none;
  }
}

.sedona-lead__main-title--description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}


// Настоящий городок

.real-city__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
}

.real-city__№1 {
  width: 100%;
  height: auto;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.real-city__description {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #81b3d2;
  background-repeat: no-repeat;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
    padding-top: auto;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.real-city--carryover {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.real-city__title {
  margin-top: 40px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 130px;
  }
}

.real-city__reason-one {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }
}

.real-city--description {
  margin: 10px 10px 40px 10px;
  padding: 0 10px 0 10px;
}

.real-city__hotel-view {
  width: auto;
  height: auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.hotel-image {
  width: 100%;
  height: 100%;
}

// Жилье Сувениры Еда

.real-city__we-have-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  width: auto;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .real-city__burger {
      order: 2;
    }
  }
}

.real-city__house {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    margin: 10px 10px 40px 10px;
    padding: 0 10px 0 10px;
    order: 1;
  }
}

.real-city__gift {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    margin: 10px 10px 40px 10px;
    padding: 0 10px 0 10px;
    order: 3;
  }
}

.real-city__burger {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    margin: 10px 10px 40px 10px;
    padding: 0 10px 0 10px;
    order: 2;
  }
}

.subtitle {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

// Преимущество №2

.devils-bridge {
  margin-bottom: 0;
  height: auto;
}

.devils-bridge__wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.devils-bridge__description {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #81b3d2;
  background-repeat: no-repeat;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
    padding-top: auto;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.devils-bridge--carryover {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.devils-bridge__title {
  margin-top: 40px;
  margin-bottom: 0;


  @media (min-width: @tablet-width) {
    width: 151px;
  }
}

.devils-bridge__reason-two {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }
}

.devils-bridge--description {
  margin: 10px 10px 40px 10px;
  padding: 0 10px 0 10px;
}

.devils-bridge__foto {
  width: auto;
  height: auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.devils-bridge--image {
  width: 100%;
  height: 100%;
}

// Преимущества 3,4,5

.reason-345__wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -8px;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
  background: #eeeeee;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
    padding-bottom: 50px;
  }
}

.small-area {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #eeeeee;
  color: #000000;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    height: auto;
    border: none;
  }
}

.small-area--title {
  margin-top: 25px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
    width: 150px;
  }
}

.small-area--description {
  @media (min-width: @tablet-width) {
    padding-left: 33px;
    padding-right: 34px;
  }
}

.nice-road {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #eeeeee;
  color: #000000;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    height: auto;
    border: none;
  }
}

.nice-road--title {
  margin-top: 25px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    width: 150px;
  }
}

.nice-road--description {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-left: 33px;
    padding-right: 34px;
  }
}

.few-tourists {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #eeeeee;
  color: #000000;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
  }
}

.few-tourists--title {
  margin-top: 25px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    width: 150px;
  }
}

.few-tourists--description {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-left: 33px;
    padding-right: 34px;
  }
}

// Поиск отеля

.hotel-search__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 33px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
}

.hotel-search__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.hotels-search__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.hotel-search__button {
  width: 280px;
  height: 58px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 49px;
  background: #81b3d2;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 458px;
    height: 58px;
  }
}

.hotel-search--map {
  width: 100%;
  height: 100%;
}

// Подвал

.page-footer {
  margin-top: -10px;
}

.page-footer__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer--hashtag {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 2em;
  }
}

.page-footer--website {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
